<html th:replace="~{layout/baseTemplate :: html}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<div th:fragment="contenido">
    <h1>Hechos Subidos por Usuario</h1>
    <div th:if="${solicitudesHechos.empty}" class="text-center py-5">
        <h1>No hay solicitudes pendientes</h1>
    </div>
    <div class="gap-3 grid-content" th:unless="${solicitudesHechos.empty}">
        <div th:each="s : ${solicitudesHechos}" class="card custom-card bg-dark-subtle">
            <div class="card-header">
                <h4>Titulo: <span th:text="${s.titulo}">titulo</span></h4>
            </div>
            <div class="card-body bg-light">
                <h4>Estado: </h4>
                <p th:text="${s.estado_hecho}" >Estado de hecho</p>
                <h4>Fecha de carga: <span th:text="${s.fecha_carga}">fecha carga hecho</span></h4>
                <p th:text="${s.categoria}">
                    Sin revision
                </p>
                <h4>
                    <p th:text="${s.sugerencias}">Sugerencias</p>
                </h4>
            </div>

            <a sec:authorize="hasRole('ADMINISTRADOR')"
               class="btn btn-primary" th:href="@{/panel-control/hechosSubidos/{idHecho} (idHecho=${s.id})}">Ver detalles</a>
            <a th:if="${s.fecha_carga != null
          and s.fecha_carga.plusDays(7).isAfter(#temporals.now())}"
               class="btn btn-warning"
               th:href="@{/editar-hecho/{idHecho}(idHecho=${s.id})}">
                Editar hecho
            </a>

            <a sec:authorize="hasRole('ADMINISTRADOR')"
               class="btn btn-success" th:href="@{/panel-control/hechosSubidos/{idHecho}/aceptar (idHecho=${s.id})}">Aceptar</a>
            <a sec:authorize="hasRole('ADMINISTRADOR')"
               class="btn btn-danger" th:href="@{/panel-control/hechosSubidos/{idHecho}/rechazoConSugerencias (idHecho=${s.id})}">Rechazar</a>
            <a sec:authorize="hasRole('ADMINISTRADOR')"
               class="btn btn-secondary" th:href="@{/panel-control/hechosSubidos/{idHecho}/aceptarConSugerencias (idHecho=${s.id})}">Aceptar con sugerencias</a>
        </div>
    </div>
</div>
</html>