<html th:replace="~{layout/baseTemplate :: html}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contenido">
    <div class="btn d-flex flex-direcion-row" >
    <h1>Colecciones</h1>
    <button sec:authorize="hasRole('ADMINISTRADOR')" type="button" class="btn btn-primary">
        <a href="colecciones/nuevaColeccion">Crear coleccion</a></button>
    </div>
    <div th:if="${colecciones.empty}" class="text-center py-5">
        <h1>No hay colecciones existentes</h1>
    </div>
    <div class="gap-3 grid-content" th:unless="${colecciones.empty}">
            <div th:each="c : ${colecciones}" class="card custom-card bg-dark-subtle">
                <div class="card-header">
                    <h4>Titulo: <span th:text="${c.titulo}">titulo</span></h4>
                    <a sec:authorize="hasRole('ADMINISTRADOR')" class="btn btn-secondary" href="#">Crear estadistica</a>
                </div>
                <div class="card-body bg-light">
                    <h4 class="card-text">
                        Descripción: </h4>
                        <p th:text="${c.descripcion}">descripcion</p>
                    <h4>Criterios de pertenencia:</h4>
                    <p th:if="${c.criterios.isEmpty()}">
                        Sin criterios de pertenencia
                    </p>
                    <div th:unless="${c.criterios.isEmpty()}">
                    <div th:each="criterio : ${c.criterios}">
                        <p th:text="${criterio.tipoCriterio}">tipo de criterio</p>
                    </div>
                    </div>
                    <h4>Algoritmo de consenso:</h4>
                    <p th:text="${c.algoritmoConsenso}">Algoritmo consenso</p>
                </div>
                <div class="d-flex flex-row justify-content-between p-2">
                    <a  th:href="@{/colecciones/{idColeccion}/hechos (idColeccion=${c.id})}"
                        class="btn btn-light" href="hechosColeccion.html">Ver Hechos</a>
                    <a sec:authorize="hasRole('ADMINISTRADOR')" class="btn btn-danger" th:href="@{/colecciones/{idColeccion}/eliminar (idColeccion=${c.id})}">Eliminar</a>
                    <a sec:authorize="hasRole('ADMINISTRADOR')" class="btn btn-warning" th:href="@{/colecciones/{idColeccion}/editar (idColeccion=${c.id})}">Modificar</a>
                </div>
            </div>
    </div>
    </div>
</html>