<html th:replace="~{layout/baseTemplate :: html}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contenido">
  <div class="p-4 container border border-solid bg-light">
    <form class="d-flex flex-column row-gap-5" th:action="@{/solicitarEliminacion}" th:object="${solicitudEliminacion}" method="post">
      <input type="hidden" th:field="*{idHecho}">
      <div class="mb-3">
        <label class="form-label">Titulo</label>
        <input type="text" th:field="*{titulo}" class="form-control" placeholder="Ingrese el titulo" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Motivo</label>
        <textarea th:field="*{texto}" class="form-control" placeholder="Ingrese el motivo de eliminación (minimo 500 caracteres)"
                  minlength="500" required></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-dark">Solicitar Eliminaciòn</button>
      </div>
    </form>
  </div>
</div>
</html>