* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #000;
}

header {
  background: #4CAF50;
  color: #fff;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}


.main-title {
  text-align: center;
  background-image: url('../media/metamapa.png');
  padding: 10%;
  background-size: cover;
  background-position: center;
  color: #3c413e;
  font-size: larger;
  height: 100dvh;
  /* ocupa toda la altura de la ventana */
  width: 100%;
}

.main-title div {
  background-color: #9ec0e2;

}

.about {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.about section {
  padding: 2%;
}

.about .objetivos {
  background-color: #a2e27d;
  display: flex;
  flex-direction: row;
}

.about .proposito {
  background-color: #ccda7f;
}

.facts {
  background: #ddd;
  height: 150px;
  margin: 1rem 0;
  border-radius: 6px;
}


footer {
  background: #4CAF50;
  color: #fff;
}

footer .copyrights {
  color: #222222
}


.grid-content {
  font-family: Arial, sans-serif;
  display: grid;
  gap:2rem;
  padding: 3rem;
}

.card{
  z-index: 1 !important;
}
@media (min-width:680px) {
  .grid-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .grid-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.categoria {
  background-color: #ffeee1;
  width: fit-content;
}

.hechos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: min-content;
}