<html th:replace="~{layout/baseTemplate :: html}" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contenido">
    <main>
        <div class="main-title">
            <!-- shadow, round -->
            <div class="shadow p-3 rounded">
                <h1>Conectando el mundo entre todos</h1>
            </div>
        </div>
        <div class="about">
            <div class="objetivos container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h2>Objetivos:</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pharetra dapibus lacus vel aliq lum
                            pharetra dapibus lacus vel aliq lum pharetra dapibus lacus vel aliq</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <ul>
                            <li>lum pharetra dapibus lacus vel aliq</li>
                            <li>ipsum lum pharetra dapibus lacus vel aliq</li>
                            <li>dolorlum pharetra dapibus lacus vel aliqlum pharetra dapibus lacus vel aliq</li>
                            <li>lum pharetra dapibus lacus vel aliqlum pharetra dapibus lacus vel aliqlum pharetra dapibus lacus vel
                                aliqamet</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="proposito">
                <h2>Propósito:</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been t</p>
            </div>

            <div class="demo">
                <h2>Colecciones y hechos:</h2>
                <div class="facts"></div>
                <a class="btn btn-dark" href="./html/colecciones.html">Ver hechos</a>
            </div>

        </div>
    </main>
</div>
</html>
